<% include layout/header %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">                
                <thead>
                    <tr>
                        <th>RFC</th>
                        <th>NAME</th>
                        <th>BUSINESS</th>
                        <th>PHONE</th>
                        <th>EMAIL</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody><% if (data) { %><% for (var i = 0; i < data.length; i ++) { %>
                    <tr>
                        <td><%= data[i].rfc %></td>
                        <td><%= data[i].principalname %></td>
                        <td><%= data[i].businessname %></td>
                        <td><%= data[i].phone %></td>
                        <td><%= data[i].email %></td>
                        <td>
                            <a href="/actualizar/<%= data[i].id %>" class="btn btn-info">E D ITAR</a>                                    
                            <a href="/borrar/<%= data[i].id %>" class="btn btn-danger">BORRAR</a>                                    
                        </td>            
                    </tr><% } %><% } %>                    
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/agregar" method="post">
                        <div class="form-group">                
                            <input type="text" name="rfc" placeholder="RFC" class="form-control">                             
                        </div>
                        <div class="form-group">                
                            <input type="text" name="principalname" placeholder="NAME" class="form-control">                             
                        </div>
                        <div class="form-group">                
                            <input type="text" name="businessname" placeholder="BUSINESS" class="form-control">                             
                        </div>
                        <div class="form-group">                
                            <input type="text" name="phone" placeholder="PHONE" class="form-control">                             
                        </div>
                        <div class="form-group">                
                            <input type="text" name="email" placeholder="EMAIL" class="form-control">                             
                        </div>                 
                        <button type="submit" class="btn btn-primary">
                            GUARDAR REGISTRO
                        </button>                
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>

<% include layout/footer %>